    <form action="pagina-aprendizaje.php" method="post"> <!--Post me envia los datos de forma oculta-->
        <div class="container">

            <div class="header" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <div class="logo">
                    <img src="/imagenes/logo_pag_principal.png" alt="Logo-principal">
                    <h6>DuoLearn Programming</h6>
                </div>
            </div>


            <div class="texto" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <h2>Selecciona el curso que vas a practicar ahora: </h2>
            </div>


            <div class="elegir-curso" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <a href="dashboard.html">
                    <img class="img-java" src="../../imagenes/logo-java.jpg" alt="" />
                </a>
                <a href="dashboard.html">
                    <img class="img-csharp" src="../../imagenes/logo-csharp.png" alt="" />
                </a>
            </div>


            <div class="nombres" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <a class="texto-java">Java</a>
                <a class="texto-csharp">C#</a>
            </div>

        </div>
    </form>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <!--Script para las animaciones de las secciones-->
    <script>
        AOS.init();
    </script>
