<!--Agregar la página de carga-->

<div class="body">
    <div class="container">
        <form>
            <div class="header" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <div class="logo">
                    <img src="../../assets/imagenes/logo_pag_principal.png" alt="Logo-principal">
                    <h6>DuoLearn Programming</h6>
                </div>
            </div>
        
        
            <div class="texto" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <h2>Selecciona el curso que vas a practicar ahora: </h2>
            </div>
        
        
            <div class="elegir-curso" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                        data-aos-duration="1300">
                <a (click)="redirigir('java')">
                    <img class="img-java" src="../../assets/imagenes/logo-java.jpg" alt="" />
                </a>
                <a (click)="redirigir('csh')">
                    <img class="img-csharp" src="../../assets/imagenes/logo-csharp.png" alt="" />
                </a>
            </div>
        
        
            <div class="nombres" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <a class="texto-java">Java</a>
                <a class="texto-csharp">C#</a>
            </div>
        </form>
    </div>
</div>