@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(5, 196, 88);  /*Puede ser una img luego lo pensamos bien */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caja{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px;
    width: 80%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo{
    border-bottom: 1px solid #a09e9e;
    color: #464646;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.puntuacion,
.tiempo{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 15px;
    color: #444;
}

.caja-pregunta{
    /*background-color: green;*/
    border-radius: 10px;
    padding: 10px;

    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 15px;
}

.caja-opciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0;
    grid-gap: 15px;
}

.caja-opciones span{
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
    
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 10px 15px;
}

.caja-opciones select{
    /*background-color: wheat;*/
    border-radius: 10px;
    border: 1px solid gray;
    height: 40px;
    width: 80%;
    padding: 5px 15px;
    margin-left: 19%;
    text-align: center;
}

.caja-opciones span:hover{
    cursor: pointer;
    box-shadow: 0 6px 5px rgba(19, 28, 56, 0.26);
}

.botones{
    display: flex;
    justify-content: space-between;
}

.botones button{
    background-color: rgb(5, 196, 88); 
    border-radius: 10px;
    padding: 7px 15px;
    outline: none;
    border: 0;
    font-size: 17px;
    width: 165px;
    color: white;
}

.botones button:hover{
    box-shadow: 0 6px 5px rgba(19, 28, 56, 0.26);
}