<div *ngIf="bol" class="contenedorLoader">
    <div class="loader"></div>
    <a href="../../assets/imagenes/"></a>
</div>  

<div class="container" *ngIf="bol2">
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar" data-aos="fade-right">
        <div class="sidebar-brand">
            <h2><span><fa-icon [icon]="fagraduation"></fa-icon></span><span>Duolearn</span></h2>
        </div>

        <!--Opciones del menú lateral-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active"> <span><fa-icon [icon]="fahome"></fa-icon></span>
                        
                        <span>Tablero</span> </a>
                </li>
                <li>
                    <a routerLink="/estadisticas"> <span><fa-icon [icon]="fachart"></fa-icon></span>
                        <span>Estadísticas</span></a>
                </li>
                <li>
                    <a routerLink="/mi-perfil"> <span><fa-icon [icon]="fauser"></fa-icon></span>
                        <span> Mi Perfil</span></a>
                </li>
                <li>
                    <a routerLink="/foro-discusion"> <span><fa-icon [icon]="facomments"></fa-icon></span>
                        <span>Foro Discusión</span></a>
                </li>
                <li>
                    <a routerLink="/coronas"> <span><fa-icon [icon]="facrown"></fa-icon></span>
                        <span>Coronas</span></a>
                </li>
                <li (click)="close_session()">
                    <a> <span><fa-icon [icon]="fasignoutalt"></fa-icon></span>
                        <span>Cerrar sesión</span></a>
                </li>
            </ul>
        </div>
    </div>


    <div class="main-content">
        <header data-aos="fade-right">
            <h2>
                <label for="nav-toggle">
                    <span id="logo-menu"><fa-icon [icon]="fabars"></fa-icon></span>
                </label>
            </h2>

            <div class="search-wrapper">
                <select name="comboBox" id="combobox" #lenguaje (change)="elegir_leng()">
                    <option disabled>Cambiar Lenguaje</option>
                    <option [selected]="sel_java" #opcion1 value="opcion1">Java</option>
                    <option [selected]="sel_csh" #opcion2 value="opcion2">C#</option>
                </select>
            </div>

            <div class="user-wrapper">
                <!--Cambiar el logo del lenguaje según el que se seleccione-->
                <img [src]="img" id="lenguaje-practicando" width="50px" height="50px">
                
                <div>

                    <h4>{{nombre}}</h4>

                </div>
            </div>
        </header>

        <main>
            <!--Fila 1 de los módulos-->
            <div class="tarjetas" data-aos="zoom-in" data-aos-duration="900">
                <div class="tarjetas-simples" [ngStyle]="estilo1" (click)="agregar_text('Variables y tipos de datos',1)">
                    <div>
                        <h1> {{porcentaje_1}}% </h1>
                        <span [ngStyle]="estiloletra1">Variables y tipos de datos</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono1"><fa-icon [icon]="fainfocircle"></fa-icon></span>
                    </div>
                </div>

                <div class="tarjetas-simples" [ngStyle]="estilo2" (click)="agregar_text('Condicionales',2)">
                    <div>
                        <h1>{{porcentaje_2}}%</h1>
                        <span [ngStyle]="estiloletra2">IF-Else</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono2"><fa-icon [icon]="facheckcircle"></fa-icon></span>
                    </div>
                </div>

                <div class="tarjetas-simples" [ngStyle]="estilo3" (click)="agregar_text('Ciclos Repetitivos',3)">
                    <div>
                        <h1>{{porcentaje_3}}%</h1>
                        <span [ngStyle]="estiloletra3">Ciclos Repetitivos</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono3"><fa-icon [icon]="faredoalt"></fa-icon></span>
                    </div>
                </div>
            </div>


            <!--Fila 2 de los módulos-->
            <div class="tarjetas" data-aos="zoom-in" data-aos-duration="900">
                <div class="tarjetas-simples" [ngStyle]="estilo4" (click)="agregar_text('Funciones y Procedimientos',4)">
                    <div>
                        <h1>{{porcentaje_4}}%</h1>
                        <span [ngStyle]="estiloletra4">Funciones y Procedimientos</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono4"><fa-icon [icon]="facubes"></fa-icon></span>
                    </div>
                </div>

                <div class="tarjetas-simples" [ngStyle]="estilo5" (click)="agregar_text('Vectores',5)">
                    <div>
                        <h1>{{porcentaje_5}}%</h1>
                        <span [ngStyle]="estiloletra5">Vectores</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono5"><fa-icon [icon]="fahive"></fa-icon></span>
                    </div>
                </div>

                <div class="tarjetas-simples" [ngStyle]="estilo6" (click)="agregar_text('Matrices',6)">
                    <div>
                        <h1>{{porcentaje_6}}%</h1>
                        <span [ngStyle]="estiloletra6">Matrices</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono6"><fa-icon [icon]="fath"></fa-icon></span>
                    </div>
                </div>
            </div>

            <!--Fila 3 de los módulos-->
            <div class="tarjetas" data-aos="zoom-in" data-aos-duration="900">
                <div class="tarjetas-simples" [ngStyle]="estilo7" (click)="agregar_text('Caracteres y cadenas de texto',7)">
                    <div>
                        <h1>{{porcentaje_7}}%</h1>
                        <span [ngStyle]="estiloletra7">Caracteres y cadenas texto</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono7"><fa-icon [icon]="fafont"></fa-icon></span>
                    </div>
                </div>

                <div class="tarjetas-simples" [ngStyle]="estilo8" (click)="agregar_text('Archivos de texto',8)">
                    <div>
                        <h1>{{porcentaje_8}}%</h1>
                        <span [ngStyle]="estiloletra8">Archivos de texto</span>
                    </div>
                    <div>
                        <span [ngStyle]="estiloicono8"><fa-icon [icon]="fafilealt"></fa-icon></span>
                    </div>
                </div>

                <div class="tarjetas-simples" id="Ev-final" >
                    <div>
                        <h1>0%</h1>
                        <span>Evaluación final</span>
                    </div>
                    <div>
                        <span><fa-icon [icon]="facode"></fa-icon></span>
                    </div>
                </div>
            </div>

        </main>

    </div>
</div>