
    <br />
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6">
          <h1 class="text-align">Registro</h1>

          <form>
            <div class="form-group">
              <label for="InputName">Nombres</label>
              <input type="text" id="nombres" class="form-control" required />
            </div>
            <div class="form-group">
              <label for="InputLastName">Apellidos</label>
              <input type="text" id="apellidos" class="form-control" required />
            </div>
            <div class="form-group">
              <label for="InputCountry">País</label>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Seleccionar</option>
                <option value="1">Ecuador</option>
                <option value="2">Colombia</option>
                <option value="3">Perú</option>
                <option value="4">Chile</option>
                <option value="5">Argentina</option>
                <option value="6">Uruguay</option>
              </select>
            </div>
            <div class="form-group">
              <label for="InputEmail1">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <div class="form-group">
              <label for="InputPassword1">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="InputPassword1"
                required
              />
              <small id="emailHelp" class="form-text text-muted"
                >Nunca comparta su contraseña con nadie.</small
              >
            </div>
            <div class="form-group">
              <label for="InputPassword1"
                >Ingrese nuevamente la contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="InputPassword2"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
    <br />


