<div class="body">
    <div class="caja" id="screenPreguntas">
        
        <div class="titulo">
            <h6><fa-icon [icon]="facomments"></fa-icon> Foro de Discusión</h6>
        </div>

        <div class="scroll-bg">
            <div class="scroll-div">
                <div class="scroll-object">
                    <div class="mensajes-otros-usuarios"><b>jordanfvc26: </b>aaaaaaa</div> 

                    <div class="mensajes-usuario-actual"><b>lmoreira10: </b>aaaaaa</div> 

                    <div class="mensajes-otros-usuarios"><b>mauricio69: </b>aaaaaa</div> 
                    <div class="mensajes-otros-usuarios"><b>jordanfvc26: </b>aaaaa</div> 
                    <div class="mensajes-usuario-actual"><b>lmoreira10: </b>aaaaaa</div> 
                    <div class="mensajes-otros-usuarios"><b>jordanfvc26: </b>aaaaaa</div> 
                    <div class="mensajes-usuario-actual"><b>lmoreira10: </b>aaaaa</div> 
                    <div class="mensajes-otros-usuarios"><b>jordanfvc26: </b>aaaaa</div> 
                    <div class="mensajes-usuario-actual"><b>lmoreira10: </b>aaaaa</div> 

                    <div class="mensajes-usuario-actual"><b>lmoreira10: </b>aaaaaa</div> 
                    
                </div>
            </div>

            
            <div class="entrada-texto">
                <textarea placeholder="Escribe un mensaje . . ."></textarea>
                <button id="boton-enviar">
                    <fa-icon [icon]="fapaperplane" id="icono-chat"></fa-icon>
                </button>
            </div>
        </div>

        
        

        <div class="botones">
            <button>
                ◀ Volver al menú
            </button>
        </div>

    </div>
</div>