<div class="body">
    <div class="caja" id="screenPreguntas">
        
        <div class="titulo">
            <h6><fa-icon [icon]="facrown"></fa-icon> Coronas</h6>
        </div>

        <form class="coronas">
            <div class="caja-info" #pregunta ><i class="fas fa-info-circle"></i> Al completar un módulo del lenguaje de programación que estés practicando, recibirás una corona como señal de que haz completado el modulo, actualmente estas son tus coronas respecto al curso de Java: 
            </div>

            <div class="caja-texto">
                <span class="texto"><b>Coronas conseguidas: </b></span>
                <span class="numero">{{coronas_tiene}} <fa-icon [icon]="facrown"></fa-icon></span>
                <span class="texto"><b>Coronas por conseguir: </b></span>
                <span class="numero">{{coronas_faltan}} <fa-icon [icon]="facrown"></fa-icon></span>
                <span class="texto"><b>Coronas total del curso: </b></span>
                <span class="numero">{{coronas_totales}} <fa-icon [icon]="facrown"></fa-icon></span>
            </div>
        </form>
        

        <div class="botones">
            <button routerLink="/dashboard">
                ◀ Entendido, volver
            </button>
        </div>

    </div>
</div>