
<div class="box" id="resultScreen">
    <div class="body">
        <div class="caja" id="screenPreguntas">
            <div class="titulo">
                <!--Este titulo habría que traerlo de la base da datos, o de la pagina anterior, ya que el nombre del módulo aparece según el modulo que el usuario elige-->
                <i class="fas fa-book"></i> Soporte teórico
            </div>

            <div class="contenido">
                <div class="titulo-contenido">
                    <h1>Variables y tipos de datos</h1>
                </div>

                <div class="subtitulo-contenido">
                    <h3>Variables de tipo entero</h3>
                </div>
                <div class="teoria-contenido">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officia in eligendi magnam quia, porro at rem officiis animi, delectus qui inventore quod ipsum reiciendis dolor cum quidem. Architecto nam cumque nesciunt neque dignissimos impedit veritatis doloribus iste quasi, laborum quas commodi distinctio quod incidunt cupiditate ea deleniti possimus voluptatum.</p>
                </div>

                <div class="subtitulo-contenido">
                    <h3>Variables de tipo decimales</h3>
                </div>
                <div class="teoria-contenido">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officia in eligendi magnam quia, porro at rem officiis animi, delectus qui inventore quod ipsum reiciendis dolor cum quidem. Architecto nam cumque nesciunt neque dignissimos impedit veritatis doloribus iste quasi, laborum quas commodi distinctio quod incidunt cupiditate ea deleniti possimus voluptatum.</p>
                </div>

                <div class="subtitulo-contenido">
                    <h3>Variables de tipo String</h3>
                </div>
                <div class="teoria-contenido">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officia in eligendi magnam quia, porro at rem officiis animi, delectus qui inventore quod ipsum reiciendis dolor cum quidem. Architecto nam cumque nesciunt neque dignissimos impedit veritatis doloribus iste quasi, laborum quas commodi distinctio quod incidunt cupiditate ea deleniti possimus voluptatum.</p>
                </div>

                <div class="subtitulo-contenido">
                    <h3>Variables Adicionales</h3>
                </div>
                <div class="teoria-contenido">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officia in eligendi magnam quia, porro at rem officiis animi, delectus qui inventore quod ipsum reiciendis dolor cum quidem. Architecto nam cumque nesciunt neque dignissimos impedit veritatis doloribus iste quasi, laborum quas commodi distinctio quod incidunt cupiditate ea deleniti possimus voluptatum.</p>
                </div>
            </div>
        
            <div class="confirmacion">
                <input type="checkbox"> <b> He leído la teoría</b>
                <p><i>Si ya leyó la teoría y no quiere volver a ver esta ventana, marque la casilla.</i></p>
            </div>
            
            <div class="botones">
                <button>
                    Continuar a los ejercicios ▶
                </button>
            </div>
        </div>
    </div>
    