<div class="body">
    <div class="container">
        <div class="panel-izquierdo">
            <img src="../../assets/imagenes/logo_pag_principal.png" alt="logo-de-la-pagina" class="inclinacion" data-aos="fade-right"  data-aos-duration="1500"/>
        </div>
    
        <div class="panel-derecho">
            <h1>Bienvenido al modulo {{valor_2}}</h1>
            <h2><i>Instrucciones: </i></h2>
            <ul>
                <li>La actividad tiene 10 preguntas (10sg por pregunta).</li>
                <li>Tiempo global: 3m 30sg.</li>
                <li>Las preguntas son aleatorias.</li>
                <li>Visualizar resultados en cualquier momento.</li>
            </ul>
            <a routerLink="/preguntas">Entendido, empezar ▶</a>
        </div>
</div>
